.collection {

  @media all and (max-width: 1024px) and (min-width: 480px) {
    width: 100vh;
    margin: 0 auto;
  }
  @media all and (max-width: 480px) {
    width: 100vh;
    min-width: 480px;
  }

  &__img {
    padding-bottom: 20px;
  }

  &__slide {
    max-height: 640px;
    width: 100%;
    box-sizing: border-box;
  }
}