.collection {

  @include respond-to(largeScreen) {
    width: 100vh;
    margin: 0 auto;
  }
  @include respond-to(middleSmartphone) {
    //width: 100vh;
    min-width: 320px;
  }

  &__img {
    padding-bottom: 20px;
  }

  &__slide {
    max-height: 640px;
    width: 100%;
    box-sizing: border-box;
  }
}