.footer {
  text-align: center;
  color: $white;
  min-height: 642px;
  padding-top: 25px;
  @include flex-center-col();
  font-family: $mainFont;

  @include respond-to(largeScreen) {
    width: 100vh;
  }

  &__title {
    font-size: 26px;
    letter-spacing: 3.8px;
    margin: 30px 0 0;
    line-height: 22px;
    padding-left: 10px;
    text-transform: uppercase;

    @include respond-to(middleSmartphone) {
      font-size: 18px;
    }
  }

  &__copyright {
    margin: 9px 0;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.05px;
    border-top: 1px solid $white;
    width: 680px;

    @include respond-to(middleSmartphone) {
      width: 100%;
      padding: 20px;
    }

  }

}