.footer {
  text-align: center;
  color: $white;
  height: 642px;//падинг снизу
  padding-top: 25px;
  @include flex-center-col();
  font-family: $mainFont;

  @media all and (max-width: 1024px) and (min-width: 480px) {
    width: 100vh;
  }
  @media all and (max-width: 480px) {
    width: 100vh;
    min-width: 480px;
  }

  &__title {
    font-size: 26px;
    letter-spacing: 3.8px;
    margin: 30px 0 0;
    line-height: 22px;
    padding-left: 10px;
    text-transform: uppercase;
  }

  &__copyright {
    margin: 9px 0;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.05px;
    border-top: 1px solid $white;
    width: 680px;

  }

}