.form {
  width: 100%;
  opacity: 0.6;
  color: #3c3930;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding: 14px 16px 0 16px;
  position: relative;
  box-sizing: border-box;

  @include respond-to(middleSmartphone) {
    width: 100%;
    padding-left: 0;
  }

  @include respond-to(largeScreen) {
    width: 100%;
  }

  &__list {
    margin-top: 48px;
    list-style: none;
    padding-left: 0;
    width: 100%;
    @include flex-center-col();

    @include respond-to(middleSmartphone) {
      width: 100%;
      padding: 0;
    }
  }

  &__item {
    width: 100%;
    @include flex-between();
    margin-bottom: 46px;

    @include respond-to(smallScreen) {
      width: 80%;
    }

    @include respond-to(middleSmartphone) {
      @include flex-center-col();
      width: 80%;
      font-size: 12px;
    }

    &:last-child {
      @include flex-center-row();
    }
  }

  &__input, &__message {
    text-transform: uppercase;
    padding: 14px 16px;
    letter-spacing: 3.2px;

    @include respond-to(middleSmartphone) {
      width: 80%;
      margin: 10px 0;
    }

  }

  &__input {
    width: 49%;
    margin: 0 23px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__message {
    width: 100%;
    height: 160px;
  }

  &__btn {
    color: $white;
    font-family: $mainFont;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    background: transparent;
    border: 2px solid $white;
    padding: 14px 0;
    margin: -10px 0;
    opacity: .6;
    width: 40%;

    &:hover, &:focus, &:active {
      opacity: 1;
    }

    @include respond-to(middleSmartphone) {
      width: 80%;
      margin: 10px 0;
      text-align: center;
      padding: 10px;
    }

  }

  &__error {
    color: $white;
    position: absolute;
    top: 7px;
    background: red;
    @include flex-center-row();

    @include respond-to(middleSmartphone) {
      font-size: 10px;
    }
  }
}