.hero {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 600px;
  color: $titleColor;
  @include flex-centered-col();

  &-slider {
    @media all and (max-width: 1024px) and (min-width: 480px) {
      width: 100vh;
      height: auto;
    }
    @media all and (max-width: 480px) {
      width: 100vh;
      min-width: 480px;
    }
  }

  &__title {
    padding-top: 25px;
    margin: 0;
    font-family: $titleSmallFont;
    font-size: 72px;
    font-weight: 400;

    @media all and (max-width: 768px) and (min-width: 480px) {
      font-size: 52px;
    }
    @media all and (max-width: 480px) {
      font-size: 36px;
    }
  }

  &__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 15px 0;
    font-weight: 300;

    @media all and (max-width: 768px) and (min-width: 480px) {
      font-size: 24px;
    }
    @media all and (max-width: 480px) {
      font-size: 18px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }

}

