.hero {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 600px;
  color: $titleColor;
  @include flex-centered-col();

  &-slider {

    @include respond-to(largeScreen) {
      width: 100vh;
      height: auto;
    }
    @include respond-to(middleSmartphone) {
      width: 100vh;
      display: none;
      min-width: 320px;
    }@include respond-to(largePhone)  {
      width: 100vh;
      display: none;
      min-width: 320px;
    }

  }

  &__title {
    padding-top: 25px;
    margin: 0;
    font-family: $titleSmallFont;
    font-size: 72px;
    font-weight: 400;
  }

  &__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 15px 0;
    font-weight: 300;

  }

  &__img {
    height: 100%;
    width: 100%;
  }

}

