.info {
  margin: 50px 0;
  @include flex-center-col();
  color: $mainFontColor;
  font-family: $mainFont;
  opacity: 0;
  -webkit-animation: opacity-greeting 3s linear;
  -webkit-animation-fill-mode: forwards;

  &:first-child {

    @include respond-to(largeScreen) {
      padding-top: 100px;
    }

  }

  @include respond-to(largeScreen) {
    width: 100vh;
  }
  @include respond-to(middleSmartphone) {
    width: 100vh;
    min-width: 320px;
  }

  &__img {
    padding-top: 2px;

    &--left {
      padding: 2px 0 2px 10px;
    }
  }

  &__title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 30px 0 0;
    line-height: 22px;
    text-align: center;

    &--left {
      padding-left: 15px;
    }

    @include respond-to(middleSmartphone) {
      width: 100vh;
      font-size: 32px;
    }
  }

  &__text {
    width: 685px;
    font-size: 18px;
    text-align: center;
    letter-spacing: .8px;
    line-height: 25px;
    margin: 0;
    padding: 32px 0 5px 15px;

    @include respond-to(middleSmartphone) {
      width: 80%;
      font-size: 24px;
    }

  }

  &__block {
    margin: 30px 0 0;
    @include flex();

    &-item {
      padding: 0 20px;
      -webkit-animation: rotate 2s infinite ease;
    }
  }

  @-webkit-keyframes opacity-greeting {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }

  }

}