.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: $white;
  background: transparent;

  @include respond-to(middleSmartphone){
    position: relative;
    background: #364C56;
  }


  &__logo {
    font-family: $titleFont;
    color: $titleColor;
    font-size: 1.667rem;
    letter-spacing: 0.8px;
    padding-top: 3.5rem;

    @include respond-to(middleSmartphone){
      //color: $btnColor;
      font-size: 2rem;
      margin: 0 auto;
      padding-top: .5rem;
    }

    &:first-letter {
      font-family: $firstLetter;
    }


  }
}

.soc {
  font-size: 0;
  margin-top: 48px;

  @include respond-to(middleSmartphone) {
    margin: .5rem;
  }

  &__link {
    opacity: .7;
    padding: 0 8px;

    &:last-child {
      padding-right: 0;
    }

    &:hover, &:focus {
      opacity: 1;
    }

    &:hover img {
      -webkit-animation: translate .5s infinite;
    }
    @-webkit-keyframes translate {
      0% {
        transform: translateX(0)
      }
      25% {
        transform: translateX(-5px)
      }
      50% {
        transform: translateX(0)
      }
      75% {
        transform: translateX(5px)
      }
      100% {
        transform: translateX(0)
      }
    }

  }
}

