.portfolio {

  @media all and (max-width: 1024px) and (min-width: 480px) {
    width: 100vh;
  }
  @media all and (max-width: 480px) {
    width: 100vh;
    min-width: 480px;
  }

  &-slider {
    width: 1002px;
    height: 640px;
    margin-bottom: 101px;

  }
}