.portfolio {

  &-slider {
    max-width: 1002px;
    margin-bottom: 85px;

  }

  @include respond-to(largeScreen) {
    width: 100%;
  }
  @include respond-to(middleSmartphone) {
    width: 80%;
    margin: 0 auto;
    font-size: 0;
  }
}