.wrap {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;

  &--nav {
    @include flex-between();

    @media all and (max-width: 960px) and (min-width: 768px) {
      @include flex-around();
    }
    @media all and (max-width: 768px) and (min-width: 480px) {
      @include flex-around();
    }
    @media all and (max-width: 480px) {
      width: 100vh;
      min-width: 480px;
    }
  }

  &--collection {
    @include flex-wrap-between();
  }
}