.wrap {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;

  &--nav {
    @include flex-between();

    @include respond-to(largeScreen) {
      width: 100vh;
      @include flex-around();
    }

  @include respond-to(middleSmartphone) {
      //width: 100vh;
      min-width: 320px;
    }
  }

  &--collection {
    @include flex-wrap-between();

    @include respond-to(middleSmartphone) {

      width: 320px;
    }
  }
}