// Font
$titleFont                : 'SantElia Rough Alt Bold ThrDEMO', sans-serif;
$titleSmallFont           : 'SantElia Script Bold DEMO', sans-serif;
$firstLetter              : 'Lobster', cursive;
$mainFont                 : 'Lato', sans-serif;


// Size
$white: #ffffff;
$titleColor: #e9e5db;
$mainFontColor: #3c3930;
$btnColor: #61605f;


$largePhone: 480px;
$tabletPortrait: 768px;
$largePhoneLandscape: 812px;
$tabletLandscape: 1024px;